.client-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.client-item {
  width: calc((100% - 30px) / 2);
  min-height: 92px;
  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    width: calc((100% - 150px) / 6);}
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid $fill-color;
  border-radius: 4px;
  fill: $fill-color;
  transition: border-color $duration $timing-function,
    fill $duration $timing-function;
  &:hover,
  &:focus {
  border-color: $accent-color;
  fill: $accent-color;
}  
}
