.header {
  border-bottom: 1px solid #ececec;
  & .link:hover,
  & .link:focus {
  color: $accent-color;
}
 .logo {
  margin-right: 87px;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include desktop {
    margin-right: 93px;
  }
}
}
.nav {
  display: flex;
  align-items: center;
   .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
}

.header-logo {
  color: #000000;
}
.header-nav-list {
  display: none;
  @include tablet {
    display: flex;
    column-gap: 50px;
    .link.current {
    color: $accent-color;}
  }
}
.header-box {
  display: flex;
}

.header-nav {
  color: $primery-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $duration $timing-function;
  position: relative;
  &.current::after {
    content: " ";
    width: 100%;
    height: 4px;
    display: block;
    background: $accent-color;
    border-radius: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    @include desktop {
      bottom: -1px;
    }
}
}
.header-link-list {
  display: none;
  @include tablet {
    display: flex;
    margin-left: 96px;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include desktop {
    column-gap: 30px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;}
}
.header-link-item {
  align-items: center;
  fill: $second-text-color;
}

.header-link {
  color: $second-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color $duration $timing-function;
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-link-icon {
  color: currentColor;
  margin-right: 10px;
  fill: currentColor;
}
.menu-open, .menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  background-color: $bgc-primery;
  transition: fill $duration $timing-function;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
    @include tablet {
    display: none;
  }
}
.mob-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity $duration $timing-function,
    visibility $duration $timing-function;
  opacity: 1;
  visibility: visible;
  background-color: $bgc-primery;
  padding: 48px 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    display: none;
  }
}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mob-menu-item{
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: inherit}
  .mob-menu-link.current {
    color: $accent-color;
    border-bottom: 4px solid $accent-color;
    border-radius: 4px;
  }
  .mob-connect-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .mob-connect-tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
  .mob-connect-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $second-text-color;
  }
  .mob-cos {
    display: flex;
    flex-wrap: wrap;
  }
  .mob-cos-item {
    padding: 0 10px;
    &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }}
  .mob-cos-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;

  }

