$primery-text-color: #212121;
$second-text-color: #757575;
$accent-color: #2196f3;
$accent-second-color: #ffffff;
$fill-color: #afb1b8;
$bgc-primery: #ffffff;
$bgc-second: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
    

